@charset "utf-8";
body{
    background:#f2f2f2;
}
#top-wrap{
    background:#f6f6f6;
    border-bottom:1px solid #e6e6e6;
    .top{
        width:1200px;
        height:39px;
        margin:0 auto;
        .top-right{
            width:482px;
            float:right;
            div{
                display:inline-block;
                font-size:12px;
                vertical-align:top;
            }
            .login{
                // width:213px;
                height:20px;
                line-height:20px;
                padding:10px 0 9px 0;
                a:first-child{
                    color:#555;
                    margin-right:5px;
                }
                a:last-child{
                    margin-right:5px;
                    color:#ff5b57;
                }
            }
            .top-box dl{
                float:left;
                color:#777;
                vertical-align:top;
                display:inline-block;
                height:12px;
                margin:14px 0 13px 0;
                border-left:1px solid #e1e1e1;
                position:relative;
                    dt{
                        height:20px;
                        line-height:20px;
                        padding:10px 9px 9px;
                        margin:-14px 3px 0 3px;
                        border:none;
                        span{
                            font-size:4px;
                            display:inline-block;
                            width:6px;
                            height:3px;
                        }
                    }
                    dd{
                        position:absolute;
                        top:0;
                        height:0;
                        width:76px;
                        opacity:0;
                        left:2px;
                        overflow:hidden;
                        // border:1px solid #fff;
                        ul{

                            li a{
                                font-size:12px;
                                color:#777;
                                line-height:24px;
                                padding:2px 0 2px 10px;
                            }
                        }
                        
                    }
                a{
                    color:#777;
                }
            }
            .besupplier{
                float:right;
                height:39px;
                line-height:39px;
                a{
                    color:#777;
                }
            }
        }
    }
}

#header-wrap{
    height:109px;
    .header{
        width:1200px;
        margin:0 auto;
        h1{
            margin:22px 80px 0 0;
            float:left;
        }
        .search-wrap{
            width:550px;
            margin:24px 0 0 38px;
            float:left;
            .search{
                display:block;
                width:100%;
                position:relative;
                height:38px;
                border:2px solid #f15c18;
                form{
                    height:36px;
                    dl{
                        overflow:hidden;
                        dt{
                            float:left;
                            width:68px;
                            height:36px;
                            background:#f8f8f8;
                            text-align:center;
                            line-height:36px;
                            font-size:12px;
                        }
                        dd{
                            float:left;
                        }
                        dd:nth-child(2){
                            width:373px;
                            height:40px;
                            line-height:40px;
                            padding-left:15px;
                        }
                        dd:nth-child(3) input{
                            font-size:14px;
                            text-align:center;
                            width:94px;
                            height:40px;
                            line-height:40px;
                            color:#fff;
                            background:#f15c18;
                        }
                    }
                }
            }
            .keywords{
                padding-top:5px;
                height:20px;
                line-height:20px;
                ul{
                    overflow:hidden;
                    li{
                        float:left;
                        a{
                            color:#999;
                            padding:0 8px;
                            border-right:1px solid #999;
                            font-size:12px;
                        }
                    }
                    li:last-child{
                        a{
                            border:none;
                        }
                    }
                }
            }
        }
        .user-menu{
            width:264px;
            float:right;
            padding-top:24px;
            dl{
                font-size:12px;
                margin-left:10px;
                float:left;
                position:relative;
                dt{
                    text-align:center;
                    height:20px;
                    line-height:20px;
                    border:1px solid #f0f0f0;
                    color:#555;
                    padding:10px; 
                }
                dd{
                    display:none;
                }
            }
            dl:hover{
                dt dd{
                    display:block;
                }
            }
            .mymall{
                width:116px;
                dd{
                    width:250px;
                    height:137px;
                    padding:10px;
                    border:1px solid #f0f0f0;
                    position:absolute;
                    top:41px;
                    left:-156px;
                    z-index:2;
                    // display:none;
                    .userbox{
                        width:250px;
                        height:48px;
                        padding-bottom:10px;
                        border-bottom:1px dashed #f0f0f0;
                        span{
                            display:inline-block;
                            width:48px;
                            height:48px;
                            border-radius:50%;
                            overflow:hidden;
                            img{
                                width:48px;
                                height:48px;
                            }
                        }
                    }
                    .usercontent{
                        width:250px;
                        height:78px;
                        ul li{
                            margin-top:5px;
                            float:left;
                            width:50%;
                            padding:4px 0;
                            a{
                                color:#333;
                            }
                            a:hover{
                                color:#f00;
                            }
                        }
                    }
                }  
            }
            .myshopcar{
                width:116px;
                dt{
                    vertical-align:top;
                }
                dd{

                }
            }
        }
    }
}

#nav-wrap{
    height:40px;
    border-bottom:1px solid #f15c18;
    .nav{
        width:1200px;
        margin:0 auto;
        .allcategory{
            float:left;
            width:172px;
            height:40px;
            background:#f15c18;
            text-align:center;
            h3{
                font-size:14px;
                color:#fff;
                line-height:40px;
            }
            .categorymenu{
                width:172px;
                height:480px;
                background:#343a3a;
                position:absolute;
                top:190px;
                z-index:10;
                display:none;
                // padding:0 5px;
                .menu{
                    padding-top:10px;
                    // display:none;
                    li{
                        cursor:pointer;
                        height:46px;
                        width:162px;
                        text-align:left;
                        padding:0 5px;
                        border-bottom:1px dashed #6a6a6a;
                        a{
                            color:#fff;
                            font-size:14px;
                            padding:0px 5px;
                            line-height:46px;
                        }
                    }
                }
                .categorycontent{
                    position:absolute;
                    top:0;
                    left:172px;
                    width:1000px;
                    min-height:480px;
                    background:#fff;
                    z-index:10;
                    display:none;
                    dl{
                        padding:20px;
                        dt{
                            float:left;
                            font-weight:600;
                            font-size:12px;
                        }
                        dd{
                            color:#7c7171;
                            float:left;
                            font-size:12px;
                            padding:0 8px;
                            border-right:1px solid #cfcfcf;
                        }
                        dd:last-child{
                            border:none;
                        }
                        dd:hover{
                            color:#f00;
                        }
                    }
                }
            }
        }
        .navmenu{
            float:left;
            li{
                float:left;
                a{
                    font-weight:600px;
                    font-size:14px;
                    display:block;
                    height:20px;
                    line-height:20px;
                    padding:8px 24px;
                    color:#FF6d02
                }
            }
        }
    }
}

.xd-box-wrap{
    width:100%;
    background:#f5f5f5;
    height:40px;
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #cecece;
    top:0;
    left:0;
    z-index:999;
    display:none;
    .xd-box{
        width:1198px;
        height:40px;
        border:1px solid #e8e8e8;
        margin:0 auto;
        background:#f5f5f5;
        dl{
            overflow:hidden;
            width:600px;
            float: left;
            dt{
                float:left;
                padding:10px 15px;
                height:20px;

                line-height:20px;
                font-size:12px;
                border:1px solid #ff6d02;
                background:#ff6d02;
                color:#fff;
            }
            dd{
                float:left;
                padding:10px 15px;
                height:20px;
                line-height:20px;
                font-size:12px;
                color:#888;
                border:1px solid #e8e8e8;
                margin-left:-1px;
            }
            .active{
                border:1px solid #ff6d02;
                background:#ff6d02;
                color:#fff;
            }
        }
        .my-cart{
            float:right;
            width:134px;
            height:44px;
            background:#ff6d02;
            color:#fff;
            vertical-align:top;
            line-height:44px;
            position:relative;
            span{
                vertical-align:center;
                display:inline-block;
                width:22px;
                height:18px;
                margin:1px 3px 1px 5px;
                background:url(../img/top_bg_cart.png) no-repeat 0px 3px;
            }
            .shoppingcar-list{
                background:#fff;
                border:1px solid #ff6d02;
                right:-3px;
                top:40px;
                position:absolute;
                width:310px;
                min-height:60px;
                padding:5px 10px;
                display:none;
            }
        }
    }
}
.fix{
    display:block;
    position:fixed;
}

#sort-bar-wrap{
    background:#fff;
    .sort-bar{
        width:1198px;
        height:40px;
        margin:0 auto;
        border:1px solid #e8e8e8;
        background:#f5f5f5;
        dl{
            overflow:hidden;
            dt{
                float:left;
                padding:10px 15px;
                height:20px;
                line-height:20px;
                font-size:12px;
                border:1px solid #ff6d02;
                background:#ff6d02;
                color:#fff;
            }
            dd{
                float:left;
                padding:10px 15px;
                height:20px;
                line-height:20px;
                font-size:12px;
                color:#888;
                border:1px solid #e8e8e8;
                margin-left:-1px;
            }
            .active{
                border:1px solid #ff6d02;
                background:#ff6d02;
                color:#fff;
            }
        }
    }
}

#goodslist-content-wrap{
    background:#fff;
    .goodslist-content{
        width:1200px;
        margin:0 auto;
        overflow:hidden;
        #goodslist .goodslist{
            width:1200px;
            margin:0 auto;
            overflow:hidden;
            ul{
                overflow: hidden;
                li{
                    float:left;
                    width:222px;
                    height:385px;
                    margin:20px 0px 0px 14px;
                    border:1px solid #e8e8e8;
                    .goods-pic{
                        width:220px;
                        height:220px;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                    .goods-info{
                        width:220px;
                        height:120px;
                        position:relative;
                        .goods-price{
                            width:200px;
                            height:20px;
                            color:#fe5300;
                            padding:15px 10px 0px 10px;
                            font-size:20px;
                            line-height:20px;
                            font-weight:400;
                        }
                        
                        .goods-title{
                            width:200px;
                            height:18px;
                            font-size:12px;
                            line-height:18px;
                            color:#333;
                            padding:0 10px;
                            margin-top:5px;
                            text-overflow:ellipsis;
                        }
                        .goods-seller{
                            height:30px;
                            padding:0px 10px 10px;
                            line-height:30px;
                            font-size:12px;
                            color:#ff6d02;
                        }
                        .goods-seller:hover{
                            text-decoration:underline;
                            color:#333;
                        }
                        .hover-block{
                            cursor:pointer;
                            display:none;
                            position:absolute;
                            padding-left:15px;
                            padding-top:15px;
                            width:185px;
                            top:40px;
                            left:0px;
                            background:#fff;
                            p{
                                height:20px;
                                font-size:12px;
                                line-height:20px;
                                color:#888;
                            }
                            p:nth-child(2){
                                color:#ff6d02;
                            }
                        }
                    }
                    .goods-tools{
                        height:30px;
                        padding:10px 5px 2px 5px;
                        border:1px solid #e8e8e8;
                        span:first-child{
                            cursor:pointer;
                            display:inline-block;
                            background:#ff6d02;
                            font-size:12px;
                            line-height:20px;
                            padding:4px 8px;
                            border:1px solid #ff6d02;
                            border-radius:2px;
                            color:#fff;
                            i{
                                display:inline-block;
                                width:18px;
                                height:16px;
                                background:url(../img/search.ele.png) no-repeat -2px -248px;
                                margin-right:8px;
                                vertical-align:middle;
                            }
                        }
                        span:last-child{
                            cursor:pointer;
                            display:inline-block;
                            height:18px;
                            margin-left:5px;
                            background:#fafafa;
                            font-size:12px;
                            line-height:20px;
                            color:#999;
                            border:1px solid #f0f0f0;
                            vertical-align:top;
                            border-radius:2px;
                            padding:5px 10px;
                            i{
                                display:inline-block;
                                width:18px;
                                height:18px;
                                background:url(../img/search.ele.png) no-repeat 0 -434px;
                                vertical-align:top;
                            }
                        }
                        span:first-child:hover{
                            background:#ff6622;
                        }
                        span:last-child:hover{
                            border:1px solid #ff6d02;
                            color:#ff6d02;
                            i{
                                background:url(../img/search.ele.png) no-repeat 0 -452px;
                            }
                        }
                    }
                }
                li:hover{
                    border:1px solid #ff6d02;
                }
            }
        }
    }
}
#background{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    .container{
        background:#eee;
        width:35%;
        z-index:1;
        margin:10% auto;
        overflow:hidden;
        .top{
            background:#f2f2f2;
            padding:10px;
            h3{
                width:80px;
                float:left;
            }
            span{
                float:right;
                // vertical-align:top;
                color:#333;
                // padding-top:12px;
                padding-right:15px;
                cursor:pointer;
            }
            .close-btn{
                font-size:10px;
                float:right;
            }
        }
        .center{
            background:#eee;
            margin:auto;
            height:150px;
            padding:30px;
            text-align:center;
            h3{
                font-size:18px;
                line-height:24px;
                color:#6f6f6f;
                margin-bottom:40px;
            }
            .btn-cart{
                background:#49b6d6;
                color:#fff;
                width:80px;
                height:24px;
                font-size:12px;
                line-height:26px;
                border-radius:2px;
                margin-right:5px;

            }
            .btn-shopping{
                background:#f59c1a;
                color:#fff;
                width:80px;
                height:24px;
                font-size:12px;
                line-height:26px;
                border-radius:2px;
            }
        }
    }
}
#home-vip-wrap{
    width:1210px;
    height:350px;
    margin:15px auto;
    overflow:hidden;
    .home-vip{
        width:1208px;
        height:346px;
        border:1px solid #f15e1b;
        border-width:3px 1px 1px;
        background:#fff;
        .vip-title{
            height:49px;
            background:#f2f2f2;
            width:100%;
            overflow:hidden;
            border-bottom:1px solid #e1e1e1;
            .vip-left{
                float:left;
                font-size:20px;
                color:#f15e1b;
                line-height:50px;
                i{
                    display:inline-block;
                    width:26px;
                    height:26px;
                    background:url(../img/vip.png) no-repeat;
                    vertical-align:middle;
                    margin-top:-5px;
                    margin-right:13px;
                    margin-left:23px;
                }
            }
            .vip-right{
                float:right;
                span{
                    display:inline-block;
                    line-height:50px;
                    margin-right:40px;
                    a{
                        font-size:16px;
                        color:#f15e1b;
                        img{
                            width:25px;
                            height:25px;
                            display:inline-block;
                            margin-right:6px;
                            margin-top:4px;
                            vertical-align:middle;
                        }
                    }
                }
            }
        }
        .vip-body{
            width:1164px;
            height:300px;
            margin:0 auto;
            position:relative;
            ul{
                overflow:hidden;
                li{
                    width:206px;
                    height:270px;
                    float:left;
                    border-right:1px solid #ebebeb;
                    padding:13px;
                    .vip-img{
                        width:206px;
                        height:206px;
                        a{
                            display:block;
                            width:206px;
                            height:206px;
                            color:#333;
                            img{
                                width:100%;
                                height:100%;
                                vertical-align:middle;
                            }
                        }
                    }
                    .vip-name{
                        font-size:12px;
                        line-height:24px;
                        color:#333;
                        width:100%;
                        height:48px;
                        overflow:hidden;
                        margin-top:20px;
                    }
                }
                li:last-child{
                    border-right:none;
                }
            }
        }
    }
}

#strengths-wrap{
    height:86px;
    border-width:1px 0;
    border:solid #e3e3e3;
    background:#fff;
    .strengths{
        width:1000px;
        margin:0 auto;
        i{
            display:block;
            width:250px;
            height:86px;
            float:left;
            background:url(../img/cti.png) no-repeat;
        }
        i:first-child{
            background-position:0px 0px;
        }
        i:nth-child(2){
            background-position:-250px 0;
        }
        i:nth-child(3){
            background-position:-500px 0;
        }
        i:last-child{
            background-position:-750px 0;
        }
    }
}

#friendlink-wrap{
    background:#fff;
    overflow:hidden;
    .friendlink{
        overflow:hidden;
        width:1200px;
        margin:0 auto;
        .notice{
            width:300px;
            height:134px;
            float:left;
            border-right:1px solid #eaeaea;
            margin:25px 0 25px;
            h2{
                font-size:16px;
                font-weight:400;
                color:#666;
                padding:5px 5px 5px;
                margin:0px 0px 5px;
            }
            .content-news{
                height:146px;
                overflow:hidden;
                ul{
                    padding:0 6px 0 15px;
                    li{
                        width:250px;
                        line-height:24px;
                        height:24px;
                        overflow:hidden;
                        a{
                            color:#999;
                            font-size:12px;
                        }
                    }
                }
            }
        }
        .link{
            width:823px;
            float:left;
            font-family:"宋体";
            padding:10px 0px;
            margin-left:50px;
            overflow:hidden;
            li{
                font-size:12px;
                vertical-align:top;
                display:inline-block;
                width:19%;
                dl{
                    display:block;
                    width:90%;
                    margin:0 auto;
                    dt{
                        font-size:16px;
                        font-weight:400px;
                        color:#666;
                        padding:5px;
                        margin:5px 0;
                        font-family:"宋体";
                    }
                    dd{
                        height:20px;
                        display:block;
                        clear:both;
                        padding:2px 5px;
                        overflow:hidden;
                        a{
                            color:#999;
                            font-size:12px;
                            line-height:18px;
                        }
                    }
                }
            }
        }
    }
}

#footer-wrap{
    padding:30px 0 10px 0;
    background:rgb(52,58,58);
    .footer{
        width:1200px;
        margin:0 auto;
        font-size:12px;
        text-align:center;
        color:#fff;
        a{
            color:#eee;
        }
        p:first-child{
            padding-top:15px;
            a{
                line-height:16px;
                padding:0 10px;
            }
        }
        p:nth-child(2){
            padding-top:15px;
            a{
                line-height:16px;
                padding:0 10px;
            }
            a:hover{
                text-decoration:underline;
            }
        }
        p:nth-child(3){
            padding-top:15px;
        }
        ul{
            width:500px;
            margin:0 auto;
            padding:20px 0 10px 0;
            li{
                width:108px;
                height:40px;
                float:left;
                margin-right:20px;
                a{
                    display:block;
                    width:100%;
                    height:100%;
                }
            }
            li:first-child a{
              background:url(../img/yangguang-footer.png) no-repeat 0 0;
            }
            li:nth-child(2) a{
                background:url(../img/yangguang-footer.png) no-repeat -122px 0;
            }
            li:nth-child(3) a{
                background:url(../img/yangguang-footer.png) no-repeat -244px 0;
            }
            li:last-child{
                background:url(../img/yangguang-footer.png) no-repeat -366px 0;
            }
        }
    }
}