@charset "UTF-8";
body {
  background: #f2f2f2; }

#top-wrap {
  background: #f6f6f6;
  border-bottom: 1px solid #e6e6e6; }
  #top-wrap .top {
    width: 1200px;
    height: 39px;
    margin: 0 auto; }
    #top-wrap .top .top-right {
      width: 550px;
      float: right; }
      #top-wrap .top .top-right div {
        display: inline-block;
        font-size: 12px;
        vertical-align: top; }
      #top-wrap .top .top-right .login {
        height: 20px;
        line-height: 20px;
        padding: 10px 0 9px 0; }
        #top-wrap .top .top-right .login a:first-child {
          color: #555;
          margin-right: 5px; }
        #top-wrap .top .top-right .login a:last-child {
          margin-right: 5px;
          color: #ff5b57; }
      #top-wrap .top .top-right .top-box dl {
        float: left;
        color: #777;
        vertical-align: top;
        display: inline-block;
        height: 12px;
        margin: 14px 0 13px 0;
        border-left: 1px solid #e1e1e1;
        position: relative; }
        #top-wrap .top .top-right .top-box dl dt {
          height: 20px;
          line-height: 20px;
          padding: 10px 9px 9px;
          margin: -14px 3px 0 3px;
          border: none; }
          #top-wrap .top .top-right .top-box dl dt span {
            font-size: 4px;
            display: inline-block;
            width: 6px;
            height: 3px; }
        #top-wrap .top .top-right .top-box dl dd {
          position: absolute;
          top: 0;
          height: 0;
          width: 76px;
          opacity: 0;
          left: 2px;
          overflow: hidden; }
          #top-wrap .top .top-right .top-box dl dd ul li a {
            font-size: 12px;
            color: #777;
            line-height: 24px;
            padding: 2px 0 2px 10px; }
        #top-wrap .top .top-right .top-box dl a {
          color: #777; }
      #top-wrap .top .top-right .besupplier {
        float: right;
        height: 39px;
        line-height: 39px; }
        #top-wrap .top .top-right .besupplier a {
          color: #777; }

#header-wrap {
  height: 109px; }
  #header-wrap .header {
    width: 1200px;
    margin: 0 auto; }
    #header-wrap .header h1 {
      margin: 22px 80px 0 0;
      float: left; }
    #header-wrap .header .search-wrap {
      width: 550px;
      margin: 24px 0 0 38px;
      float: left; }
      #header-wrap .header .search-wrap .search {
        display: block;
        width: 100%;
        position: relative;
        height: 38px;
        border: 2px solid #f15c18; }
        #header-wrap .header .search-wrap .search form {
          height: 36px; }
          #header-wrap .header .search-wrap .search form dl {
            overflow: hidden; }
            #header-wrap .header .search-wrap .search form dl dt {
              float: left;
              width: 68px;
              height: 36px;
              background: #f8f8f8;
              text-align: center;
              line-height: 36px;
              font-size: 12px; }
            #header-wrap .header .search-wrap .search form dl dd {
              float: left; }
            #header-wrap .header .search-wrap .search form dl dd:nth-child(2) {
              width: 373px;
              height: 40px;
              line-height: 40px;
              padding-left: 15px; }
              #header-wrap .header .search-wrap .search form dl dd:nth-child(2) input{
                background:#f2f2f2;
              }
            #header-wrap .header .search-wrap .search form dl dd:nth-child(3) input {
              font-size: 14px;
              text-align: center;
              width: 94px;
              height: 40px;
              line-height: 40px;
              color: #fff;
              background: #f15c18; }
      #header-wrap .header .search-wrap .keywords {
        padding-top: 5px;
        height: 20px;
        line-height: 20px; }
        #header-wrap .header .search-wrap .keywords ul {
          overflow: hidden; }
          #header-wrap .header .search-wrap .keywords ul li {
            float: left; }
            #header-wrap .header .search-wrap .keywords ul li a {
              color: #999;
              padding: 0 8px;
              border-right: 1px solid #999;
              font-size: 12px; }
          #header-wrap .header .search-wrap .keywords ul li:last-child a {
            border: none; }
    #header-wrap .header .user-menu {
      width: 264px;
      float: right;
      padding-top: 24px; }
      #header-wrap .header .user-menu dl {
        font-size: 12px;
        margin-left: 10px;
        float: left;
        position: relative; }
        #header-wrap .header .user-menu dl dt {
          text-align: center;
          height: 20px;
          line-height: 20px;
          border: 1px solid #f0f0f0;
          color: #555;
          padding: 10px; }
        #header-wrap .header .user-menu dl dd {
          display: none; }
      #header-wrap .header .user-menu dl:hover dt dd {
        display: block; }
      #header-wrap .header .user-menu .mymall {
        width: 116px; }
        #header-wrap .header .user-menu .mymall dd {
          width: 250px;
          height: 137px;
          padding: 10px;
          border: 1px solid #f0f0f0;
          position: absolute;
          top: 41px;
          left: -156px;
          z-index: 2; }
          #header-wrap .header .user-menu .mymall dd .userbox {
            width: 250px;
            height: 48px;
            padding-bottom: 10px;
            border-bottom: 1px dashed #f0f0f0; }
            #header-wrap .header .user-menu .mymall dd .userbox span {
              display: inline-block;
              width: 48px;
              height: 48px;
              border-radius: 50%;
              overflow: hidden; }
              #header-wrap .header .user-menu .mymall dd .userbox span img {
                width: 48px;
                height: 48px; }
          #header-wrap .header .user-menu .mymall dd .usercontent {
            width: 250px;
            height: 78px; }
            #header-wrap .header .user-menu .mymall dd .usercontent ul li {
              margin-top: 5px;
              float: left;
              width: 50%;
              padding: 4px 0; }
              #header-wrap .header .user-menu .mymall dd .usercontent ul li a {
                color: #333; }
              #header-wrap .header .user-menu .mymall dd .usercontent ul li a:hover {
                color: #f00; }
      #header-wrap .header .user-menu .myshopcar {
        width: 116px; }
        #header-wrap .header .user-menu .myshopcar dt {
          vertical-align: top; }

#nav-wrap {
  height: 40px;
  border-bottom: 1px solid #f15c18; }
  #nav-wrap .nav {
    width: 1200px;
    margin: 0 auto; }
    #nav-wrap .nav .allcategory {
      float: left;
      width: 172px;
      height: 40px;
      background: #f15c18;
      text-align: center; }
      #nav-wrap .nav .allcategory h3 {
        font-size: 14px;
        color: #fff;
        line-height: 40px; }
      #nav-wrap .nav .allcategory .categorymenu {
        width: 172px;
        height: 480px;
        background: #343a3a;
        position: absolute;
        top: 190px;
        z-index: 10; }
        #nav-wrap .nav .allcategory .categorymenu .menu {
          padding-top: 10px; }
          #nav-wrap .nav .allcategory .categorymenu .menu li {
            cursor: pointer;
            height: 46px;
            width: 162px;
            text-align: left;
            padding: 0 5px;
            border-bottom: 1px dashed #6a6a6a; }
            #nav-wrap .nav .allcategory .categorymenu .menu li a {
              color: #fff;
              font-size: 14px;
              padding: 0px 5px;
              line-height: 46px; }
        #nav-wrap .nav .allcategory .categorymenu .categorycontent {
          position: absolute;
          top: 0;
          left: 172px;
          width: 1000px;
          min-height: 480px;
          background: #fff;
          z-index: 10;
          display: none; }
          #nav-wrap .nav .allcategory .categorymenu .categorycontent dl {
            padding: 20px; }
            #nav-wrap .nav .allcategory .categorymenu .categorycontent dl dt {
              float: left;
              font-weight: 600;
              font-size: 12px; }
            #nav-wrap .nav .allcategory .categorymenu .categorycontent dl dd {
              color: #7c7171;
              float: left;
              font-size: 12px;
              padding: 0 8px;
              border-right: 1px solid #cfcfcf; }
            #nav-wrap .nav .allcategory .categorymenu .categorycontent dl dd:last-child {
              border: none; }
            #nav-wrap .nav .allcategory .categorymenu .categorycontent dl dd:hover {
              color: #f00; }
    #nav-wrap .nav .navmenu {
      float: left; }
      #nav-wrap .nav .navmenu li {
        float: left; }
        #nav-wrap .nav .navmenu li a {
          font-weight: 600px;
          font-size: 14px;
          display: block;
          height: 20px;
          line-height: 20px;
          padding: 8px 24px;
          color: #FF6d02; }

#new-banner {
  width: 100%;
  height: 480px;
  position: relative; }
  #new-banner .top-live {
    width: 1033px;
    height: 79px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -429px; }
    #new-banner .top-live .top-live-left {
      float: left;
      width: 866px;
      height: 79px; }
      #new-banner .top-live .top-live-left .live-left {
        border: 1px solid #e4e4e4;
        padding: 5px 0px;
        margin: 5px 6px 5px 15px;
        width: 408px;
        height: 59px;
        float: left; }
        #new-banner .top-live .top-live-left .live-left span {
          float: left;
          display: inline-block;
          width: 100px;
          height: 59px;
          margin-left: 5px;
          background: url(../img/live.png) no-repeat; }
        #new-banner .top-live .top-live-left .live-left .live-goods {
          width: 290px;
          float: left;
          height: 60px; }
          #new-banner .top-live .top-live-left .live-left .live-goods .live-special {
            margin-left: 15px;
            width: 60px;
            float: left; }
            #new-banner .top-live .top-live-left .live-left .live-goods .live-special a {
              display: block;
              width: 60px;
              height: 60px;
              background: url(../img/live-goods.png) no-repeat; }
          #new-banner .top-live .top-live-left .live-left .live-goods .special-title .goodstitle {
            font-size: 12px;
            line-height: 24px; }
            #new-banner .top-live .top-live-left .live-left .live-goods .special-title .goodstitle a {
              color: #3a3a3a; }
          #new-banner .top-live .top-live-left .live-left .live-goods .special-title .goods-price {
            color: #f00; }
            #new-banner .top-live .top-live-left .live-left .live-goods .special-title .goods-price em {
              font-size: 20px;
              line-height: 24px;
              margin-top: 5px; }
  #new-banner .focus-banner {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 79; }
    #new-banner .focus-banner .bd {
      width: 100%; }
      #new-banner .focus-banner .bd ul {
        width: 100%; }
        #new-banner .focus-banner .bd ul li {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0; }
          #new-banner .focus-banner .bd ul li a {
            display: block;
            width: 100%;
            height: 100%; }
            #new-banner .focus-banner .bd ul li a img {
              display: block;
              margin: 0 auto; }
    #new-banner .focus-banner .hd {
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 3;
      text-align: center; }
      #new-banner .focus-banner .hd span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #000;
        border: 1px solid #000;
        margin: 0 10px;
        border-radius: 50%; }
      #new-banner .focus-banner .hd .active {
        background: #f15c18;
        border: 1px solid #f15c18; }
    #new-banner .focus-banner .btnbanner {
      display: block;
      position: absolute;
      top: 50%;
      transform: translate(50%, -50%);
      left: 20%;
      width: 30px;
      height: 60px;
      font-size: 30px;
      background: #000;
      opacity: 0.2;
      color: #fff;
      line-height: 60px;
      display: none; }
    #new-banner .focus-banner .banner-next {
      left: 80%;
      transform: translate(-45px, -50%); }

#home-goods-wrap {
  height: 150px;
  margin: 15px auto 0; }
  #home-goods-wrap .home-goods-wrap {
    width: 1210px;
    padding: 25px 0;
    margin: 0 auto;
    background: #fff;
    overflow: hidden; }
    #home-goods-wrap .home-goods-wrap li {
      float: left;
      vertical-align: top;
      width: 301px;
      height: 100px;
      border-left: 1px solid #e8e4de; }
      #home-goods-wrap .home-goods-wrap li a {
        display: block;
        width: 299px;
        margin: -25px 0;
        position: relative;
        z-index: 1; }
        #home-goods-wrap .home-goods-wrap li a h3 {
          position: absolute;
          z-index: 1;
          top: 25px;
          left: 15px;
          width: 105px;
          font-size: 16px;
          font-weight: 600;
          color: #444; }
        #home-goods-wrap .home-goods-wrap li a h5 {
          position: absolute;
          z-index: 1;
          top: 50px;
          left: 15px;
          width: 100px;
          font-size: 12px;
          color: #888; }
        #home-goods-wrap .home-goods-wrap li a img {
          position: absolute;
          z-index: 1;
          top: 0;
          right: 30px;
          width: 150px;
          height: 150px; }

.home-category-floor-wrap {
  width: 1210px;
  margin: 15px auto 0px;
  overflow: hidden; }
  .home-category-floor-wrap .home-category-floor .header {
    height: 35px;
    border-bottom: 2px solid #fe5621; }
    .home-category-floor-wrap .home-category-floor .header h2 {
      font-size: 20px;
      position: relative;
      float: left;
      padding-left: 40px;
      line-height: 30px;
      color: #333;
      background: url(../img/floor_mt_h2.png) no-repeat 0px 0px; }
      .home-category-floor-wrap .home-category-floor .header h2 i {
        display: block;
        background: #feaa90;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        text-align: left;
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        padding: 7px 13px 5px 4px; }
    .home-category-floor-wrap .home-category-floor .header .tab {
      float: right;
      height: 34px;
      border: 1px solid #ededed;
      border-bottom: none;
      line-height: 34px; }
      .home-category-floor-wrap .home-category-floor .header .tab li {
        position: relative;
        float: left;
        height: 34px;
        line-height: 34px; }
        .home-category-floor-wrap .home-category-floor .header .tab li a {
          display: block;
          height: 34px;
          padding: 0 16px;
          border-left: 1pa solid #fff;
          border-right: 1px solid #fff;
          background: #fff;
          line-height: 34px;
          font-size: 12px;
          color: #333; }
  .home-category-floor-wrap .home-category-floor .goods-content {
    font-size: 12px;
    color: #666; }
    .home-category-floor-wrap .home-category-floor .goods-content .side {
      width: 210px;
      float: left; }
      .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner {
        background: #feaa90;
        height: 474px;
        position: relative;
        z-index: 1;
        overflow: hidden; }
        .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner .banner {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0; }
        .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner .themes {
          position: absolute;
          bottom: 152px;
          z-index: 2;
          left: 0;
          padding: 0 0 0 10px;
          background: none; }
          .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner .themes li {
            width: 50%;
            display: block;
            float: left;
            padding: 8px 0;
            font-size: 14px;
            line-height: 26px; }
            .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner .themes li a {
              display: block;
              color: #555; }
              .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner .themes li a span {
                display: inline-block;
                width: 26px;
                height: 26px;
                margin: 0 5px 0 0; }
        .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner .words {
          position: absolute;
          top: 322px;
          z-index: 2;
          left: 0;
          padding: 25px 15px 25px 25px;
          background: rgba(255, 255, 255, 0.7); }
          .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner .words li {
            float: left;
            margin-right: 10px;
            font-size: 12px;
            line-height: 24px; }
            .home-category-floor-wrap .home-category-floor .goods-content .side .side-inner .words li a {
              color: #777; }
    .home-category-floor-wrap .home-category-floor .goods-content .maincontent {
      width: 1000px;
      position: relative;
      z-index: 1;
      float: right;
      background: #fff; }
      .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-inner {
        height: 474px;
        display: block;
        position: relative;
        z-index: 1; }
        .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-inner .main-body {
          width: 780px;
          float: left;
          height: 100%; }
          .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-inner .main-body li {
            width: 219px;
            height: 236px;
            position: relative;
            z-index: 1;
            display: block;
            float: left;
            border: solid #eee;
            border-width: 0 1px 1px 0; }
        .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-inner .main-extra {
          width: 220px;
          float: right;
          height: 100%; }
          .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-inner .main-extra li {
            width: 219px;
            height: 236px;
            position: relative;
            z-index: 1;
            float: left;
            border: solid #eee;
            border-width: 0 1px 1px 0; }
            .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-inner .main-extra li a {
              display: block;
              width: 100%;
              height: 100%; }
              .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-inner .main-extra li a img {
                width: 100%;
                height: 100%; }
      .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-side {
        left: 220px;
        top: 0;
        width: 339px;
        height: 473px;
        position: absolute;
        z-index: 2;
        overflow: hidden; }
        .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-side .swiper-container {
          width: 339px;
          height: 473px; }
        .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-side .swiper-slide {
          font-size: 60px;
          text-align: center;
          height: 473px;
          position: relative; }
          .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-side .swiper-slide img {
            width: 339px;
            height: 236px;
            display: block; }
        .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-side .swiper-pagination-bullet {
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          color: #fff;
          background: #666;
          font-size: 12px; }
        .home-category-floor-wrap .home-category-floor .goods-content .maincontent .main-side .swiper-pagination-bullet-active {
          color: #fff;
          background: orangered; }
    .home-category-floor-wrap .home-category-floor .goods-content .tab-hide {
      width: 1000px;
      position: relative;
      z-index: 1;
      float: right;
      background: #fff;
      display: none; }
      .home-category-floor-wrap .home-category-floor .goods-content .tab-hide .g-list {
        position: relative;
        z-index: 1; }
        .home-category-floor-wrap .home-category-floor .goods-content .tab-hide .g-list li {
          opacity: 0.9;
          width: 165px;
          display: block;
          height: 230px;
          border: solid #eee;
          border-width: 0 1px 1px 0;
          padding: 6px 17px 0;
          float: left; }
          .home-category-floor-wrap .home-category-floor .goods-content .tab-hide .g-list li .g-img {
            height: 140px;
            padding-yop: 15px;
            margin-bottom: 4px;
            text-align: center; }
            .home-category-floor-wrap .home-category-floor .goods-content .tab-hide .g-list li .g-img img {
              width: 100%;
              height: 100%; }
          .home-category-floor-wrap .home-category-floor .goods-content .tab-hide .g-list li .g-name {
            margin-bottom: 3px;
            height: 36px;
            line-height: 18px;
            overflow: hidden; }
            .home-category-floor-wrap .home-category-floor .goods-content .tab-hide .g-list li .g-name a {
              color: #333; }
          .home-category-floor-wrap .home-category-floor .goods-content .tab-hide .g-list li .g-price {
            color: #e4393c;
            font-size: 15px; }

.floor1-footer-wrap {
  width: 1208px;
  background: #fff;
  padding: 15px 0;
  margin: 0 auto;
  border: solid #eee;
  border-width: 0 1px 1px;
  overflow: hidden; }
  .floor1-footer-wrap ul {
    width: 1210px;
    height: 33px;
    overflow: hidden;
    margin-left: -1px; }
    .floor1-footer-wrap ul li {
      float: left;
      width: 120px;
      height: 33px;
      border-left: 1px dotted #ccc;
      text-align: center; }
      .floor1-footer-wrap ul li a img {
        max-width: 100px;
        max-height: 33px; }

#home-vip-wrap {
  width: 1210px;
  height: 350px;
  margin: 15px auto;
  overflow: hidden; }
  #home-vip-wrap .home-vip {
    width: 1208px;
    height: 346px;
    border: 1px solid #f15e1b;
    border-width: 3px 1px 1px;
    background: #fff; }
    #home-vip-wrap .home-vip .vip-title {
      height: 49px;
      background: #f2f2f2;
      width: 100%;
      overflow: hidden;
      border-bottom: 1px solid #e1e1e1; }
      #home-vip-wrap .home-vip .vip-title .vip-left {
        float: left;
        font-size: 20px;
        color: #f15e1b;
        line-height: 50px; }
        #home-vip-wrap .home-vip .vip-title .vip-left i {
          display: inline-block;
          width: 26px;
          height: 26px;
          background: url(../img/vip.png) no-repeat;
          vertical-align: middle;
          margin-top: -5px;
          margin-right: 13px;
          margin-left: 23px; }
      #home-vip-wrap .home-vip .vip-title .vip-right {
        float: right; }
        #home-vip-wrap .home-vip .vip-title .vip-right span {
          display: inline-block;
          line-height: 50px;
          margin-right: 40px; }
          #home-vip-wrap .home-vip .vip-title .vip-right span a {
            font-size: 16px;
            color: #f15e1b; }
            #home-vip-wrap .home-vip .vip-title .vip-right span a img {
              width: 25px;
              height: 25px;
              display: inline-block;
              margin-right: 6px;
              margin-top: 4px;
              vertical-align: middle; }
    #home-vip-wrap .home-vip .vip-body {
      width: 1164px;
      height: 300px;
      margin: 0 auto;
      position: relative; }
      #home-vip-wrap .home-vip .vip-body ul {
        overflow: hidden; }
        #home-vip-wrap .home-vip .vip-body ul li {
          width: 206px;
          height: 270px;
          float: left;
          border-right: 1px solid #ebebeb;
          padding: 13px; }
          #home-vip-wrap .home-vip .vip-body ul li .vip-img {
            width: 206px;
            height: 206px; }
            #home-vip-wrap .home-vip .vip-body ul li .vip-img a {
              display: block;
              width: 206px;
              height: 206px;
              color: #333; }
              #home-vip-wrap .home-vip .vip-body ul li .vip-img a img {
                width: 100%;
                height: 100%;
                vertical-align: middle; }
          #home-vip-wrap .home-vip .vip-body ul li .vip-name {
            font-size: 12px;
            line-height: 24px;
            color: #333;
            width: 100%;
            height: 48px;
            overflow: hidden;
            margin-top: 20px; }
        #home-vip-wrap .home-vip .vip-body ul li:last-child {
          border-right: none; }

#strengths-wrap {
  height: 86px;
  border-width: 1px 0;
  border: solid #e3e3e3;
  background: #fff; }
  #strengths-wrap .strengths {
    width: 1000px;
    margin: 0 auto; }
    #strengths-wrap .strengths i {
      display: block;
      width: 250px;
      height: 86px;
      float: left;
      background: url(../img/cti.png) no-repeat; }
    #strengths-wrap .strengths i:first-child {
      background-position: 0px 0px; }
    #strengths-wrap .strengths i:nth-child(2) {
      background-position: -250px 0; }
    #strengths-wrap .strengths i:nth-child(3) {
      background-position: -500px 0; }
    #strengths-wrap .strengths i:last-child {
      background-position: -750px 0; }

#friendlink-wrap {
  background: #fff;
  overflow: hidden; }
  #friendlink-wrap .friendlink {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto; }
    #friendlink-wrap .friendlink .notice {
      width: 300px;
      height: 134px;
      float: left;
      border-right: 1px solid #eaeaea;
      margin: 25px 0 25px; }
      #friendlink-wrap .friendlink .notice h2 {
        font-size: 16px;
        font-weight: 400;
        color: #666;
        padding: 5px 5px 5px;
        margin: 0px 0px 5px; }
      #friendlink-wrap .friendlink .notice .content-news {
        height: 146px;
        overflow: hidden; }
        #friendlink-wrap .friendlink .notice .content-news ul {
          padding: 0 6px 0 15px; }
          #friendlink-wrap .friendlink .notice .content-news ul li {
            width: 250px;
            line-height: 24px;
            height: 24px;
            overflow: hidden; }
            #friendlink-wrap .friendlink .notice .content-news ul li a {
              color: #999;
              font-size: 12px; }
    #friendlink-wrap .friendlink .link {
      width: 823px;
      float: left;
      font-family: "宋体";
      padding: 10px 0px;
      margin-left: 50px;
      overflow: hidden; }
      #friendlink-wrap .friendlink .link li {
        font-size: 12px;
        vertical-align: top;
        display: inline-block;
        width: 19%; }
        #friendlink-wrap .friendlink .link li dl {
          display: block;
          width: 90%;
          margin: 0 auto; }
          #friendlink-wrap .friendlink .link li dl dt {
            font-size: 16px;
            font-weight: 400px;
            color: #666;
            padding: 5px;
            margin: 5px 0;
            font-family: "宋体"; }
          #friendlink-wrap .friendlink .link li dl dd {
            height: 20px;
            display: block;
            clear: both;
            padding: 2px 5px;
            overflow: hidden; }
            #friendlink-wrap .friendlink .link li dl dd a {
              color: #999;
              font-size: 12px;
              line-height: 18px; }

#footer-wrap {
  padding: 30px 0 10px 0;
  background: #343a3a; }
  #footer-wrap .footer {
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    color: #fff; }
    #footer-wrap .footer a {
      color: #eee; }
    #footer-wrap .footer p:first-child {
      padding-top: 15px; }
      #footer-wrap .footer p:first-child a {
        line-height: 16px;
        padding: 0 10px; }
    #footer-wrap .footer p:nth-child(2) {
      padding-top: 15px; }
      #footer-wrap .footer p:nth-child(2) a {
        line-height: 16px;
        padding: 0 10px; }
      #footer-wrap .footer p:nth-child(2) a:hover {
        text-decoration: underline; }
    #footer-wrap .footer p:nth-child(3) {
      padding-top: 15px; }
    #footer-wrap .footer ul {
      width: 500px;
      margin: 0 auto;
      padding: 20px 0 10px 0; }
      #footer-wrap .footer ul li {
        width: 108px;
        height: 40px;
        float: left;
        margin-right: 20px; }
        #footer-wrap .footer ul li a {
          display: block;
          width: 100%;
          height: 100%; }
     /* #footer-wrap .footer ul li:first-child a {
        background: url(img/yangguang-footer.png) no-repeat 0 0; }
      #footer-wrap .footer ul li:nth-child(2) a {
        background: url(img/yangguang-footer.png) no-repeat -122px 0; }
      #footer-wrap .footer ul li:nth-child(3) a {
        background: url(img/yangguang-footer.png) no-repeat -244px 0; }
      #footer-wrap .footer ul li:last-child {
        background: url(img/yangguang-footer.png) no-repeat -366px 0; }*/

.slider-nav {
  position: fixed;
  left: 0px;
  top: 150px;
  border: 1px solid #e8e4de;
  display: none;
  border-bottom: 0px; }
  .slider-nav li {
    width: 50px;
    height: 26px;
    padding: 7px 0;
    border-bottom: 1px dashed #e5e5e5;
    background: #fff; }
    .slider-nav li a {
      display: block;
      width: 48px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      font-size: 12px;
      color: #333; }
    .slider-nav li .active {
      color: #fff; }

/*.toolbar-wrap {
  position: fixed;
  top: 200px;
  width: 35px;
  height: 210px;
  right: 0;
  z-index: 20; }
  .toolbar-wrap div {
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background: #483e39;
    border-radius: 3px 0px 0px 3px; }
    .toolbar-wrap div i {
      display: block;
      width: 35px;
      height: 35px;
      background: url(../img/toolbar.png) no-repeat; }
  .toolbar-wrap .tb-vip i {
    background-position: -100px 0; }
  .toolbar-wrap .tb-cart i {
    background-position: 0 -50px; }
  .toolbar-wrap .tb-like i {
    background-position: 0 -100px; }
  .toolbar-wrap .tb-history i {
    background-position: 0 -150px; }
  .toolbar-wrap .tb-message i {
    background-position: 0 -200px; }
*/